@media (min-width: 992px) {

	// HEADER
	
	header {
		.title {
			font-size: 3.9rem;
		}

		@keyframes typing {
			from {
				width: 0;
			}
			to {
				width: 36.5rem;
			}
		}
	}

	// MAIN

	main {
		.starting-board {
			.start-btn {
				font-size: 3.9rem;
			}
		}
	}

	// FOOTER

	footer {
		.footer-text {
			font-size: 2rem;
		}
	}
}
